body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si es necesario */
}

.logo {
    max-height: 50px;
    border-radius: 50%;
    margin-right: 20px; /* Añade un margen derecho para separar el logo del menú */
}

nav {
    display: flex;
    gap: 20px;
}

.nav-button {
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #218838;
    text-decoration: none;
}

.image {
    background-image: url('https://www.solofondos.com/wp-content/uploads/2015/12/Fondos-de-jardines-para-Photoshop.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    color: #fff;
    position: relative;
}

.textims {
    color: #fff;
    text-transform: uppercase;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-family: 'Algerian', sans-serif;  
    text-align: center;
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: center;
    }

    nav {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image {
        height: 300px;
    }

    .textims {
        font-size: 40px;
        width: 80%;
    }
}